{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "i18next-extract",
            {
                "locales": ["ru", "en"],
                "useI18nextDefaultValue": "ru",
                "outputPath": "public/dist/l10n/{{ns}}/{{locale}}.json",
                "keySeparator": null,
                "compatibilityJSON": "v4"
            }
        ]
    ]
}
