$white: #ffffff;
$black: #000000;
$primary: #0562a5;
$blue: #17c38d;
$secondary: #fc842b;
$gray: #d7d7d7;
$warning: #f75725;

$background: #f9f9f9;

$text-primary: #4d6082;
$text-dark: #2e3e5c;
$text-light: #82869b;
$text-gray: #9fa2b4;

$graphite: #363740;
$green: #0dbd7e;
