.ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
    margin-bottom: 0;
    margin-left: 12px;
}

.ant-modal-close-x {
    padding-top: 20px;
    padding-right: 20px;
}

.ant-modal-footer{
    border-top: none;
}

.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.55);
}
